<% provide(:title, '従業員一覧') %>

<h1>従業員一覧</h1>

<div id="serch_form">
  <h3>従業員検索</h3>
  <%= form_tag(employees_path, :method => 'get') do %>
    <%= text_field_tag :search, '', placeholder: "従業員の名前を入力..." %>
    <%= submit_tag '検索', :name => nil %>
  <% end %>
</div>

<!--ページネイトはFAQ管理で使う予定。また、従業員とタイムラインは無限スクロールにしたいところ-->
<!--このコード自体は、ページ数を表示するだけ。「求められたページに対応する従業員を取得してビューに渡す」のはindexアクションで。-->
<%= will_paginate %>

<ul class="employees">
    <%= render @employees %>
</ul>

<%= will_paginate %>