<% provide(:title, @employee.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="employee_info">
      <h1>
        <%= gravatar_for @employee %>
        <%= @employee.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @employee.reports.any? %>
      <h3>日報一覧 (<%= @employee.reports.count %>)</h3>
      <ol class="reports">
        <%= render @reports %>
      </ol>
      <%= will_paginate @reports %>
    <% end %>
  </div>
</div>